<app-unauthnavbar></app-unauthnavbar>
<div class="flex justify-center items-center h-screen flex-col bg-gray-200" *ngIf="!emailSent">
    <form class="shadow-blue-400 shadow-2xl bg-white w-4/12 h-2/5 rounded-lg" [formGroup]="form" (ngSubmit)="sendEmail()">
        <div class="grid grid-cols-1 divide-y divide-gray-300">
            <h1 class="flex p-5 font-bold text-xl font-sans">Find your account</h1>
            <div class="flex flex-col">
                <h1 class="flex p-5 font-sans">Please enter your email address to search for your account.</h1>
                <mat-form-field class=" px-5 w-full">
                    <mat-label class=" font-sans" for="email">Email</mat-label>
                    <input matInput type="text" class="px-5 bg-gray-50" required="" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-row justify-end p-5">
            <button type="button" class="px-5 bg-gray-500 mx-3 rounded-lg text-white font-semibold hover:bg-gray-600 transition duration-300" [routerLink]="'/login'">Cancel</button>
            <button type="submit" class="px-5 bg-blue-500 rounded-lg text-white font-semibold hover:bg-blue-600 transition duration-300" [disabled]="!form.valid">Search</button>
        </div>
    </form>
</div>

<div class="flex justify-center items-center h-screen flex-col bg-gray-200" *ngIf="emailSent">
    <form class="shadow-blue-400 shadow-2xl bg-white w-4/12 h-2/5 rounded-lg">
        <div class="flex justify-center items-center h-full">
            <h1>A mail was sent to you!</h1>
        </div>
    </form>
</div>
