<app-unauthorized-navbar></app-unauthorized-navbar>
<div class="register_form">
    <div class="container form">
        <h1 class="heading"> Register </h1>

        <form (ngSubmit)="register()">
            <mat-form-field [style.width.px]=300>
                <mat-label>Username</mat-label>
                <input [(ngModel)]="username" class="rounded-5" matInput type="text" name="username" placeholder="Username" required>
            </mat-form-field>
            <mat-form-field [style.width.px]=300>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" matInput type="text" placeholder="Email" name="email" required>
                
            </mat-form-field>
            <mat-form-field [style.width.px]=300>
                <mat-label>Confim Email</mat-label>
                <input [(ngModel)]="confirmEmail" matInput type="text" placeholder="Confirm Email" name="confirmEmail" required>
            </mat-form-field>
            <mat-form-field [style.width.px]=300>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="password" matInput type="password" placeholder="Password" name="password" required> 
            </mat-form-field>
            <mat-form-field [style.width.px]=300>
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="confirmPassword" matInput type="password" placeholder="Confirm Password" name="confirmPassword" required>
            </mat-form-field>
            <button mat-flat-button [style.width.px]=300 type="submit"> Register</button>
            <span style="color: red;">{{error ? error : ''}}</span>

            <span>Already have an account?<a style="color: #00DDDD; text-decoration: none;" href="/login"> Login!</a></span>
        </form>
    </div>
</div>