<div class="mb-32">
    <h1 class="text-2xl font-bold">Expenses</h1>
    <div class="overflow-y-scroll h-[100px] scroll-smooth">
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
        <div class="grid grid-cols-3">
            <h1> Shopping </h1>
            <p>7 transactions</p>
            <p class="text-red-600 font-bold">- 153.55€</p>
        </div>
    </div>
</div>
