<div class="bg-slate-400 rounded-tr-2xl w-full flex flex-row h-[3rem] items-center justify-between">
    <img src="/assets/image.png" alt="logo_img" class="h-full">
    <div class="flex gap-14 px-20">
        <button mat-icon-button routerLink="/incomes">Incomes</button>
        <button mat-icon-button routerLink="/expenses">Expenses</button>
        <button mat-icon-button routerLink="/savings">Economies</button>
        <button mat-icon-button (click)="openDialog()" class="bg-green-700 
        p-1 w-20 text-white rounded-md">Add</button>
        <div *ngIf="checkIfIsLogged" class="flex flex-row">
            <img [src]="profilePhoto" class="w-10 h-10 cursor-pointer mr-10" [routerLink]="['/profile']" routerLinkActive="router-link-active" />
            <button (click)="signOut()">Sign Out</button>
        </div>
    </div>
</div>